In [25]:
import pandas as pd
import plotly.express as px
from plotly.subplots import make_subplots
import pygwalker as pyg

In [26]:
# Import the data from CSV
gini_df = pd.read_csv("gini.csv") #Gini Coefficient (2018)
# The Gini coefficient measures the inequality among the values of a frequency distribution, such as levels of income. A Gini coefficient of 0 reflects perfect equality, where all income or wealth values are the same, while a Gini coefficient of 1 (or 100%) reflects maximal inequality among values, a situation where a single individual has all the income while all others have none.
#Taken from https://www.gapminder.org/data/


gini_dfn = gini_df.dropna()#drop na values

gini_dfni = gini_dfn.set_index('country') #Set the country index


partner_violence_df = pd.read_csv("partner_violence.csv") #World partner Violence statistics (2018)
#Ever-partnered women and girls subjected to physical and/or sexual violence by a current or former intimate partner in the previous 12 months (% ages 15–49)
#Taken from https://www.gapminder.org/data/

partner_violence_dfn = partner_violence_df.dropna()#drop na values
#partner_violence_dfn['country_'] = partner_violence_dfn.loc[:, 'country'] 

partner_violence_dfni = partner_violence_dfn.set_index('country', drop=False)


#Set Limit gini year

#gini_df = gini_df['2018']


partner_violence_dfni

                   country   2018
country
Afghanistan    Afghanistan 35.000
Angola              Angola 25.000
Albania            Albania  6.000
Argentina        Argentina  4.000
Armenia            Armenia  5.000
...                    ...    ...
Vanuatu            Vanuatu 29.000
Samoa                Samoa 18.000
South Africa  South Africa 13.000
Zambia              Zambia 28.000
Zimbabwe          Zimbabwe 18.000

[166 rows x 2 columns]

### It seems Like the new country index is messing up the  whole shebang

In [27]:
gini_dfni['1800']

country
Afghanistan    30.500
Angola         57.700
Albania        39.900
Andorra        42.500
UAE            39.800
                ...
Samoa          40.700
Yemen          49.800
South Africa   35.200
Zambia         52.100
Zimbabwe       27.300
Name: 1800, Length: 197, dtype: float64

In [28]:
# partner_violence_dfni.index

In [29]:
#gini_dfni.index

In [61]:
# Set sane display perameters
#pd.set_option('display.float_format', lambda x: '%.3f' %x)
#gini_dfn.describe().style.format("{:,.0f}")

In [62]:
#TODO Make all of these indexed dataframes work with all of the other methods

In [63]:
gini_dfn.head(2)

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,Afghanistan,30.500,30.500,30.500,30.500,30.500,30.500,30.500,30.500,30.500,...,38.200,38.200,38.200,38.200,38.200,38.200,38.200,38.200,38.200,38.200
1,Angola,57.700,57.700,57.700,57.700,57.700,57.700,57.700,57.700,57.700,...,52.000,52.000,52.000,52.000,52.000,52.000,52.000,52.000,52.000,52.000

In [64]:
gini_dfn['2018']

0     37.700
1     51.300
2     33.200
3     35.100
4     26.000
       ...
192   38.700
193   36.700
194   63.300
195   57.100
196   47.200
Name: 2018, Length: 197, dtype: float64

In [65]:
gini_dfns = gini_dfni['2018']
gg = gini_dfni['2018']

In [66]:
gg = pd.DataFrame(gg)
gg.head()

              2018
country
Afghanistan 37.700
Angola      51.300
Albania     33.200
Andorra     35.100
UAE         26.000

In [67]:
partner_violence_dfni.head(3)

                 country   2018
country
Afghanistan  Afghanistan 35.000
Angola            Angola 25.000
Albania          Albania  6.000

In [68]:
#me = list(gini_dfns)
#me_df = {""}
''
new_df = partner_violence_dfni.join(gg, lsuffix='_pviolence', rsuffix='_gini' )

In [69]:
new_df

                   country  2018_pviolence  2018_gini
country
Afghanistan    Afghanistan          35.000     37.700
Angola              Angola          25.000     51.300
Albania            Albania           6.000     33.200
Argentina        Argentina           4.000     41.300
Armenia            Armenia           5.000     34.400
...                    ...             ...        ...
Vanuatu            Vanuatu          29.000     37.600
Samoa                Samoa          18.000     38.700
South Africa  South Africa          13.000     63.300
Zambia              Zambia          28.000     57.100
Zimbabwe          Zimbabwe          18.000     47.200

[166 rows x 3 columns]

In [70]:
partner_violence_dfn.shape

(166, 2)

In [71]:
partner_violence_dfn.head(2)

       country   2018
0  Afghanistan 35.000
1       Angola 25.000

In [72]:
partner_violence_dfn.shape

(166, 2)

In [73]:
type(new_df)

pandas.core.frame.DataFrame

In [82]:
new_df.corr(method='pearson', numeric_only = True).style.background_gradient(cmap='viridis')

In [83]:
new_df['2018_gini']
new_df['country']

country
Afghanistan      Afghanistan
Angola                Angola
Albania              Albania
Argentina          Argentina
Armenia              Armenia
                    ...
Vanuatu              Vanuatu
Samoa                  Samoa
South Africa    South Africa
Zambia                Zambia
Zimbabwe            Zimbabwe
Name: country, Length: 166, dtype: object

In [76]:
fig = px.scatter(new_df ,x = 'country', y=['2018_gini','2018_pviolence'])
fig.show()

In [77]:
gini_dfn['country']

0       Afghanistan
1            Angola
2           Albania
3           Andorra
4               UAE
           ...
192           Samoa
193           Yemen
194    South Africa
195          Zambia
196        Zimbabwe
Name: country, Length: 197, dtype: object

In [78]:

gini_country_dfn = gini_dfn['country']
#gini_dfni = gini_dfn.set_index('country') #Set the country index
# gini_dfni
gini_dfn

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,Afghanistan,30.500,30.500,30.500,30.500,30.500,30.500,30.500,30.500,30.500,...,38.200,38.200,38.200,38.200,38.200,38.200,38.200,38.200,38.200,38.200
1,Angola,57.700,57.700,57.700,57.700,57.700,57.700,57.700,57.700,57.700,...,52.000,52.000,52.000,52.000,52.000,52.000,52.000,52.000,52.000,52.000
2,Albania,39.900,39.900,39.900,39.900,39.900,39.900,39.900,39.900,39.900,...,33.700,33.700,33.700,33.700,33.700,33.700,33.700,33.700,33.700,33.700
3,Andorra,42.500,42.500,42.500,42.500,42.500,42.500,42.500,42.500,42.500,...,35.000,35.000,35.000,35.000,35.000,35.000,35.000,35.000,35.000,35.000
4,UAE,39.800,39.800,39.800,39.800,39.800,39.800,39.800,39.700,39.700,...,25.900,25.900,25.900,25.900,25.900,25.900,25.900,25.900,25.900,25.900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Samoa,40.700,40.700,40.700,40.700,40.700,40.700,40.700,40.700,40.700,...,38.700,38.700,38.700,38.700,38.700,38.700,38.700,38.700,38.700,38.700
193,Yemen,49.800,49.800,49.800,49.800,49.800,49.800,49.800,49.800,49.800,...,37.400,37.400,37.400,37.400,37.400,37.400,37.400,37.400,37.400,37.400
194,South Africa,35.200,35.200,35.200,35.200,35.200,35.200,35.200,35.200,35.200,...,63.900,63.900,63.900,63.900,63.900,63.900,63.900,63.900,63.900,63.900
195,Zambia,52.100,52.100,52.100,52.100,52.100,52.100,52.100,52.100,52.100,...,57.800,57.800,57.800,57.800,57.800,57.800,57.800,57.800,57.800,57.800
196,Zimbabwe,27.300,27.300,27.300,27.300,27.300,27.300,27.300,27.300,27.300,...,50.900,50.900,50.900,50.900,50.900,50.900,50.900,50.900,50.900,50.900

In [79]:
import scipy.stats as stats
import numpy as np
from scipy.stats import f_oneway

#T Test

In [80]:
a = new_df['2018_gini']
b = new_df['2018_pviolence']

stats.ttest_ind(a,b)

TtestResult(statistic=30.528934038044323, pvalue=3.862082081014955e-98, df=330.0)

In [81]:
f_oneway(new_df['2018_gini'],new_df['2018_pviolence'])

F_onewayResult(statistic=932.0158134992607, pvalue=3.8620820810151835e-98)